src/main/app/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="serverStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    <db:mysql-config name="MySQL_Configuration" host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <ee:object-store-caching-strategy name="Caching_Strategy" keyGenerationExpression="#[flowVars.des]" doc:name="Caching Strategy">
        <in-memory-store maxEntries="300" entryTTL="20000" expirationInterval="20000"/>
    </ee:object-store-caching-strategy>
    <http:listener-config name="HTTP_Listener_Configuration1" protocol="HTTPS" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration">
        <tls:context>
            <tls:trust-store path="clientStore.jks" password="password" type="jks"/>
            <tls:key-store type="jks" path="serverStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="localhost" port="8081" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store path="serverStore.jks" password="password" type="jks"/>
            <tls:key-store type="jks" path="clientStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:request-config>
    <flow name="dbFlow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/flights" allowedMethods="GET" doc:name="HTTPS"/>
        <set-variable variableName="des" value="#[message.inboundProperties.'http.query.params'.des]" doc:name="Variable"/>
        <ee:cache cachingStrategy-ref="Caching_Strategy" doc:name="Cache">
            <db:select config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[select * from american where toAirport= #[flowVars.des]]]></db:parameterized-query>
            </db:select>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </ee:cache>
    </flow>
    <flow name="dbFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test/{ID}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/flights" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="des" value="#[message.inboundProperties.'http.uri.params'.ID]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
